@model DataAccess.DTO.AccountDTO

@{
    ViewData["Title"] = "UserProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>UserProfile</h1>

<div>
    <h4>AccountDTO</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountBirthDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountBirthDay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountStartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountStartDate)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AccountId }) 
</div>
