@using Microsoft.AspNetCore.Http;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" type="text/css">
    <link rel="stylesheet" href="~/lib/font-awesome/js/all.js" type="text/javascript">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="~/lib/bootsstrap/dist/js/bootstrap.js" type="text/javascript">
    <link rel="stylesheet" href="~/css/base.css" type="text/css">
    <title>Login</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid nav-wrapper justify-content-between" style="position: relative !important;">
            <a href="">
                <img class="navbar-logo" src="~/img/Logo.png" alt="">
            </a>
            <div class="collapse navbar-collapse" id="navbarScroll" style="position: absolute !important;right: 0px !important;">
                <ul class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll">
                    @if (Context.Session != null && Context.Session.GetString("AccountID") != null && Context.Session.GetString("AccountID").Contains("US"))
                    {
                        <li class="nav-item nav-cart">
                            <a class="cart" asp-area="" asp-controller="Cart" asp-action="Index" asp-route-accountID="@Context.Session.GetString("AccountID")">
                                <i class="fa-solid fa-cart-plus"></i>
                            </a>
                        </li>
                    }
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                            <i class="fa-solid fa-house"></i>
                            Home
                        </a>
                    </li>
                    @if (Context.Session != null && Context.Session.GetString("AccountID") != null && Context.Session.GetString("AccountID").Contains("US"))
                    {

                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Order" asp-action="Index" asp-route-id="@Context.Session.GetString("AccountID")">
                                <i class="fa-sharp fa-solid fa-file-invoice-dollar"></i>
                                Order History
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Logout" asp-action="Index">
                                <i class="fa-solid fa-right-from-bracket"></i>
                                Logout
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Account" asp-action="UserProfile" asp-route-accountID="@Context.Session.GetString("AccountID")">
                                <i class="fa-solid fa-user-group"></i>
                                @Context.Session.GetString("AccountName")
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Account" asp-action="Create">
                                <i class="fa-solid fa-user-group"></i>
                                Register
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Login" asp-action="Index">
                                <i class="fa-sharp fa-solid fa-right-to-bracket"></i>
                                Login
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid wrapper">
        @RenderBody()
    </div>
    <div class="container-fluid footer">
        <div class="row">
            <div class="col-md-12">
                <span class="footer-copycript text-center">
                    &copy; 2023 - G1FOOD_Web_Admin -
                    <a class="footer-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>

                </span>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
