@model DataAccess.DTO.OrderDTO
@using DataAccess.DTO;
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Paying";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Paying</h1>

<h4>OrderDTO</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Paying">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OrderNote" class="control-label"></label>
                <input asp-for="OrderNote" class="form-control" value="@ViewBag.Note" disabled/>
                <span asp-validation-for="OrderNote" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="AccountId" class="form-control" hidden value="@Context.Session.GetString("AccountID")" />
            </div>
            <div class="form-group">
                <label asp-for="BuyerFullName" class="control-label"></label>
                <input asp-for="BuyerFullName" class="form-control" value="@ViewBag.BuyerFullName" disabled />
                <span asp-validation-for="BuyerFullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BuyerPhone" class="control-label"></label>
                <input asp-for="BuyerPhone" class="form-control" value="@ViewBag.BuyerPhone" disabled />
                <span asp-validation-for="BuyerPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BuyerAddress" class="control-label"></label>
                <input asp-for="BuyerAddress" class="form-control" value="@ViewBag.BuyerAddress" disabled />
                <span asp-validation-for="BuyerAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderDate" class="control-label"></label>
                <input asp-for="OrderDate" class="form-control" value="@ViewBag.OrderDate" type="text" disabled>
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderStatus" class="control-label"></label>
                <input asp-for="OrderStatus" class="form-control" value="@ViewBag.OrderStatus" disabled/>
                <span asp-validation-for="OrderStatus" class="text-danger"></span>
            </div>
            <div class="table-total-sub-group">
                <h4 class="table-label">Total:</h4>
                <span class="table-total"><span>@ViewBag.ToalPrice</span>đ</span>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            Image
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Quantity
                        </th>
                        <th>
                            Price
                        </th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (OrderDetailsDTO item in ViewBag.OrderDetails)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.OrderDid)
                            </td>
                            <td>
                                <img src="@item.ProductImage" alt="" style="width : 100px; height : 100px;">
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OrderDquantity)
                            </td>
                            <td>
                                @{
                                    var discountedPrice = item.OrderDprice;
                                }
                                @Html.DisplayFor(modelItem => discountedPrice)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </form>
    </div>
</div>
@if (ViewBag.OrderStatus != "DELIVERING" && ViewBag.OrderStatus != "REJECTED" && ViewBag.OrderStatus != "DELIVERED")
{
    <form method="post" asp-action="Confirm" asp-controller="ChefOrder">
        <input type="hidden" name="orderID" value="@ViewBag.OrderID" />
        <input type="hidden" name="accountID" value="@Context.Session.GetString("AccountID")" />
        <input type="hidden" name="status" value="DELIVERING" />
        <button type="submit">Accept</button>
    </form>
    <form method="post" asp-action="Confirm" asp-controller="ChefOrder">
        <input type="hidden" name="orderID" value="@ViewBag.OrderID" />
        <input type="hidden" name="accountID" value="@Context.Session.GetString("AccountID")" />
        <input type="hidden" name="status" value="REJECTED" />
        <button type="submit">Reject</button>
    </form>
}


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
